head
  title= title
  link(rel='stylesheet', href='#{baseurl}/stylesheets/reset.css')
  link(rel='stylesheet', href='#{baseurl}/fonts/Oswald1/stylesheet.css')
  link(rel='stylesheet', href='#{baseurl}/fonts/GilliusADF/gilliusno2-cond.css')
  link(rel='stylesheet', href='#{baseurl}/fonts/GilliusADF/gilliusadf.css')
  link(rel='stylesheet', href='#{baseurl}/fonts/CodeNewRoman/codenewroman.css')
  link(rel='stylesheet', href='#{baseurl}/stylesheets/style.css')
