header
  h1 <a href="#{baseurl}/blog/index">[#{title}]</a>
  p
    em!= pagetitle
  nav
    ul
        <li><a href="#{baseurl}/index">accueil</a></li>
        <li><a href="#{baseurl}/blog/index">le blog</a></li>
        <li><a href="#{baseurl}/manuel/intro">le manuel</a></li>
        <li><a href="#{baseurl}/about">à propos</a></li>
