doctype html
html(lang="fr")
  include ./jinclude/head.jade
  body
    include ./jinclude/pageheader.jade
    section
        aside
          menu!= sidemenu
          .sidetext!= sidetext
        article!= content
    .clear
        p &nbsp;
    include ./jinclude/footer.jade
