/*
 * style.less
 */

//======================================================================
// polices
//----------------------------------------------------------------------
@basicfont: gillius_adf, "Lucida Grande",
Helvetica,
Arial,
sans-serif;
//----------------------------------------------------------------------
@codefont: code_new_romanregular,
monospace;
//----------------------------------------------------------------------
@titlefont: oswaldmedium, gillius_no2cond,
sans-serif;
//----------------------------------------------------------------------
@headerFont: oswaldmedium,
gillius_no2cond,
sans-serif;
//----------------------------------------------------------------------
@footerFont: @titlefont;
//======================================================================
// couleurs
//----------------------------------------------------------------------
.backgroundColor(@alpha) {
    background-color: rgba(250, 250, 250, @alpha);
}
// les liens (<a>)
@acolor: rgba(0, 100, 150, 0.8);
// survol des liens
@ahovercolor: #aa0077;
// fond des header et footer
@gris: rgba(192, 192, 192, 0.7);
// un orange pouur entête et autre
@bigorange: rgba(250, 80, 20, 0.8);
// couleur du code :
@codeColor: #da5522;
// couleur 'pre' + 'em'
@preEMColor: #55f;
// couleur 'pre + em + strong'
@preEMStrongColor: #f55;
//======================================================================
// dimensions
//----------------------------------------------------------------------
@fullWidth: 960px;
@articleWidth: 560px;
@asideWidth: 200px;
@media screen and (max-width:960px) {
    @fullWidth: 100%;
    @articleWidth: auto;
    @asideWidth: auto;
}

// unités
@emUnit: 1.0em;
@halfUnit: 0.5 * @emUnit;
@doubleUnit: 2 * @emUnit;
// ligne de texte:
@baseLineHeight: 1.4em;
@h1LineHeight: 1.4 * @baseLineHeight;
@h2LineHeight: 1 * @baseLineHeight;
@h3LineHeight: 1 * @baseLineHeight;
//----------------------------------------------------------------------
// tailles de police
@baseFontSize: @emUnit;
@defaultFontSize: 1.1em;
@smallFontSize: 0.95em;
@h1FontSize: 3.50em;
@h2FontSize: 2.50em;
@h3FontSize: 2.0em;
@codeFontSize: 0.9em;
@headerPFontSize: 2em;
@asideHFontSize: 1.5em;
//----------------------------------------------------------------------
// padding
@nullPadding: 0;
@standardPadding: @emUnit;
.padding(@paddingValue) {
    padding: @paddingValue;
}
//----------------------------------------------------------------------
// margin
//----------------------------------------------------------------------
// autres
@hLetterSpacing: -0.04em;
@codeLetterSpacing: -0.02em;
@footerLetterSpacing: 0.06em;
@thinBorderSize: 1px;
@fatBorderSize: 3px;
//======================================================================
// utilities
//----------------------------------------------------------------------
.thinBottomBorder(@color) {
    border-bottom: @thinBorderSize solid @color;
}
.fatBorderBottom(@color) {
    border-bottom: @fatBorderSize solid @color;
}

//----------------------------------------------------------------------
//======================================================================
// dimension des blocs
body > section {
    max-width: @fullWidth;
    article {
        @media screen and (max-width:960px) {
            width:auto;
            margin:auto;
        }
        @media screen and (min-width:960px) {
            float: right;
            margin-right: @emUnit;
        }
        width: @articleWidth;
    }
    aside {
        // width: 20%;
        @media screen and (max-width:960px) {
            width:auto;
            margin:1em auto;
        }
        @media screen and (min-width:960px) {
            float: left;
            margin-left: @emUnit;
        }
        width: @asideWidth;
    }
}
//======================================================================
// display
section,
aside,
nav {
    display: block;
    li {
        display: inline;
        a {
            display: inline;
        }
    }
}
menu {
    a {
        display: block;
    }
}
.clear {
    display: none;
}
//======================================================================
// background
body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: url("../images/genie-civil-detail-1280.jpg") no-repeat center center fixed;
}
body > header {
    .backgroundColor(0.8);
}
body > section {
    article,
    aside {
        .backgroundColor(0.80);
    }
}
body > footer {
    background-color: @gris;
}
nav {
    .backgroundColor(0.8);
}
//======================================================================
// fonts styles
body {
    font-family: @basicfont;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: @titlefont;
    font-style: normal;
    font-weight: normal;
}
body > header {
    font-family: @headerFont;
    h1 {
        font-family: @headerFont;
    }
    p {
        font-weight: bold;
    }
}
footer {
    font-family: @footerFont;
    font-weight: normal;
}
code,
pre {
    font-family: @codefont;
}
code {
    font-weight: bold;
}
p,
li {
    em {
        font-style: italic;
        strong {
            font-weight: bold;
        }
    }
    strong {
        font-weight: bold;
        em {
            font-style: italic;
        }
    }
}
pre {
    em {
        font-style: italic;
    }
    strong {
        font-weight: bold;
    }
}
//======================================================================
body {
    .padding(@nullPadding);
}
menu {
    a {
        font-size: @smallFontSize;
        line-height: @baseLineHeight;
        text-decoration: none;
        .thinBottomBorder(@acolor);
    }
    .fatBorderBottom(@bigorange);
    padding-bottom: @halfUnit;
}
h1,
h2,
h3,
h4,
h5 {
    letter-spacing: @hLetterSpacing;
}
h1 {
    line-height: @h1LineHeight;
    font-size: @h1FontSize;
}
h2 {
    line-height: @h2LineHeight;
    font-size: @h2FontSize;
}
h3 {
    line-height: @h3LineHeight;
    font-size: @h3FontSize;
}
body {
    font-size: @baseFontSize;
}
a {
    color: @acolor;
    &:hover {
        color: @ahovercolor;
    }
}
body > header {
    .padding(@standardPadding);
    h1 {
        a {
            &:hover {
                color: @acolor;
            }
        }
    }
    p {
        font-size: @headerPFontSize;
        color: @bigorange;
        padding-bottom: @standardPadding;
    }
    nav {
        a {
            font-size: @headerPFontSize;
            padding: 0 @halfUnit;
            line-height: @doubleUnit;
            border-right: @fatBorderSize solid @acolor;
        }
    }
}
body > section {
    margin: auto;
    .padding(@standardPadding);
    article {
        .padding(@standardPadding);
        p {
            font-size: @defaultFontSize;
            text-align: justify;
            line-height: @baseLineHeight;
            margin: 0.4em 0 0.4em 0;
            -moz-hyphens: auto;
            -webkit-hyphens: auto;
            -ms-hyphens: auto;
            hyphens: auto;
            code {
                font-size: @codeFontSize;
                color: @codeColor;
                letter-spacing: @codeLetterSpacing;
            }
        }
        ul {
            margin: @halfUnit @doubleUnit;
            list-style-type: circle;
            list-style-position: inside;
            li {
                text-align: justify;
                line-height: @baseLineHeight;
            }
        }
    }
    aside {
        .padding(@standardPadding);
        p {
            text-align: left;
            .thinBottomBorder(@acolor);
            a {
                line-height: @baseLineHeight;
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .sidetext {
            p {
                text-align: justify;
            }
        }
        h2,
        h3 {
            .fatBorderBottom(@bigorange);
            color: @bigorange;
            font-size: @asideHFontSize;
            margin-bottom: 0.5em
        }
    }
}
.clear {
    clear: both;
}
article > h2 {
    .fatBorderBottom(@bigorange);
    color: @bigorange;
}
article > footer {
    font-size: @smallFontSize;
    padding: @halfUnit;
    border-top: @fatBorderSize solid @bigorange;
    .fatBorderBottom(@bigorange);
    color: @bigorange;
    text-align: right;
    letter-spacing: @footerLetterSpacing;
}
body > footer {
    clear: both;
    .padding(@standardPadding);
    p {
        line-height: @baseLineHeight;
        text-align: center;
    }
}
pre {
    font-size: @codeFontSize;
    overflow: auto;
    margin: @emUnit 0 @emUnit 0;
    line-height: @baseLineHeight;
    em {
        color: @preEMColor;
    }
    strong {
        color: @preEMStrongColor;
    }
}
