<h3>le dépôt Git</h3>
<p>Il est ici : <a href="https://gitlab.com/BernardT/leNsite">leNsite</a>. Il <em>suffit</em> de suivre les instructions pour récupérer les sources avec un <em>simple</em>:</p>
<pre>
git clone https://gitlab.com/BernardT/leNsite.git
</pre>
