<h2>Le N Site</h2>

<p>Encore un autre moteur de blog, écrit avec <em>NodeJS</em>? Ben oui, écrire un tel moteur est une excellente manière d'apprendre à se servir de l'outil en question. Pour me simplifier le travail, j'utilise <em>Express</em> en plus de <em>NodeJS</em>.</p>

<p>Donc, ce projet assez banal est en quelque sorte la ligne d'apprentissage de <em>NodeJS</em> et tout ce qui l'accompagne. Je dois dire que suis particulièrement séduit par l'outil et n'ai plus du tout envie d'en changer pour la conception de mes sites personnels.</p>
<p>Quelques remarques rapides mais à ne pas négliger :</p>
<ul>
	<li>le look est à gerber? je ne suis pas un Web Designer! et il est loin d'être figé, le look!</li>
	<li>le concept de mon blog est ultra-classique? <em>Forkez</em> le projet et faites ce qui vous plaît! et souvenez-vous de moi dans les citations...</li>
	<li>le contenu (le texte, je veux dire) même peu glamour, c'est moi qui l'ai écrit, ne l'oubliez pas...</li>
	<li>sauf indication contraire, les photos sont de moi, même les moches!</li>
</ul>

<h3>la <em>philosophie</em> de ce mini-CMS</h3>
<p>Je veux pouvoir éditer toutes les pages avec l'éditeur de mon choix (<em>Vim</em>) ou les éditer à travers une interface Web adaptée. Les pages, qui ne sont que de simples fichiers textes, sont sauvegardées avec <em>Git</em>.</p>
<p>Dit d'une autre manière, la base de données, c'est tout simplement le système de fichiers sous-jacent, de préférence un Unix.</p>
<p>On peut trouver ce choix curieux, mais c'est mon choix!</p>

<h3>installation</h3>
<p>L'installation est simple, faites un clone du <a href="https://gitlab.com/BernardT/leNsite.git">dépôt gitlab</a>, placez vous dans le répertoire nouvellement crée, lancez <code>npm install</code> et le tour est joué, <code>npm start</code> devrait vous offrir l'URL <em><a href="http://localhost:3000/" rel="nofollow">http://localhost:3000/</a></em> avec une première page.</p>

<p>Notez bien, cependant, que j'utilise les dernières versions stables de ces outils (Octobre 2015), ce qui correspond à Node 4.1.1 et npm 3.35. Rien ne prouve que les versions plus anciennes soient capables de faire tourner ce code.

<h3>le code</h3>
<p>C'est <em>la</em> grande découverte, avec peu de lignes, on fait beaucoup! Ah! Il n'est pas très documenté? C'est possible! Mais regardez les commentaires des <em>commits</em>, vous en apprendrez peut-être plus. Et avec le temps, un manuel va se développer, comme par magie...</p>

<h3>le contenu</h3>
<p>Les pages fournies sont là pour deux raisons : </p>
<ul>
	<li>raconter ma vie, vous n'êtes pas obligés d'apprécier,</li>
	<li>tester au mieux les fonctionnalités de mon moteur.</li>
</ul>

<p>Bernard Tatin</p>