<h2>détacher un programme de son terminal</h2>
<p>C'est tout simple, c'esqt <code>nohup</code> qui fait le boulot du type:</p>
<pre>
nohup commande args &amp;
</pre>
<p>Le soucis, c'est l'<em>attachement</em> à la console. Ça ne fonctionne donc correctement que si les entrées/sorties ne sont <em>plus</em> dirigée vers le terminal. On fera donc quelque chose comme (ici, pour <em>zsh</em>) :</p>
<pre>
nohup commande args &amp;> /dev/null &amp;
</pre>

<footer> crée le 16/10/2015 à 23:19:58 par bernard </footer>
