<h2>première entrée du blog</h2>
<p>Ça y est, j'ai mon moteur de blog! Il est loin de <em>Wordpress</em> et 
  autre, mais ça fonctionne correctement, c'est tout ce que je demande!</p>
<p>La prochaine étape, l'installer sur mon serveur avec script de démarrage 
  dans <code>init.d</code>. Et remplir les cases!</p>
<p>Le code doit-être amélioré, évidemment, en particulier utiliser des variables 
  configurables lorsque cela est possible. Le style des pages, aussi, que ce
  soit la présentation générale (couleurs, polices, ...) comme les points
  particuliers (liens, menus, ...).</p>     
  
<footer> crée le 08/10/2015 à 17:47:39 par bernard </footer>