<h2>que faire?</h2>
<p>Il y a un boulot de réorganisation du code. Lorsque je me suis lancé dans ce projet, je ne savais pas vraiment où j'allais avec <em>Node</em> et <em>Express</em>. Le résultat est un code un peu à l'ancienne alors qu'il fallait raisonner en terme d'<em>environnement</em> dans lequel se déroule une requête.</p>

<p>A la réception de la requête, on construit l'environnement (évidemment sous forme d'un objet) dans lequel elle sera traitée, ensuite, on traite cet environnement pour obtenir une réponse qui est alors envoyée au client. Maintenant, il faut définir l'environnement.</p>

<h3>l'environnement</h3>
<p>Il est déterminé de manière unique par l'ensemble des données des fichiers de configuration et par l'Url de la requête. Celle-ci contient deux parties essentielles qui nous intéressent, le nom du <em>livre</em> et le nom de la page (voire des pages) du livre. Les fichiers de configuration nous indiquent où se trouvent les livres ainsi que leurs caractéristiques principales (auteur, titre, version, ..., voire type pour faire une différence entre manuel, blog, roman, ...).</p>

<p>Il y a donc deux types d'environnement :</p>
<ul>
    <li>le <em>global</em>, donné par les fichiers de configuration et qui est lu une seule fois au démarrage (au moins pour l'instant, ce serait bien de pouvoir modifier cet environnement sans avoir besoin de redémarrer l'application),</li>
    <li>le <em>local</em>, qui est strictement dépendant de la requête.</li>
</ul>
<p>Dans tous les cas, ces deux environnements déterminent de manière unique le traitement à accomplir.</p>

<footer> crée le 17/10/2015 à 17:07:04 par bernard </footer>
