<h2>numéros et noms de version</h2>
<p>Un excellent article <a href="https://github.com/cloverfield-tools/cf-package/blob/master/template/docs/contributing/versions/index.md">à ce sujet</a> et qui me donne à réfléchir.

<footer> crée le 17/10/2015 à 17:00:58 par bernard </footer>
