<h2>gérer les branches de <em>Git</em></h2>
<p>Dans un premier temps, je considère le problème depuis la ligne de commande uniquement. Après, je verrais ce qui peut-être fait depuis <em>Brackets</em> ou, éventuellement, depuis <em>Netbeans</em> <em>Eclipse</em>. Mais cela fera l'objet d'un autre billet.</p>

<h3>créer une branche</h3>
<p>Pour l'instant, je me suis contenter d'effectuer l'opération depuis <em>Gitlab</em> uniquement, ce qui est très simple. Voyons comment faire depuis la ligne de commande.</p>
<p>La création de la branche se fait soit avec:</p>
<pre>
$ git branch newbranch
$ git checkout newbranch
</pre>
<p>Soit avec la commande unique qui regroupe les deux précédentes:</p>
<pre>
$ git checkout -b newbranch
<em>Switched to a new branch "newbranch"</em>
</pre>
<p>Le retour à la branche principale se fait tout simplement avec un simple</p>
<pre>
$ git checkout master
</pre>

<h3>faire un merge</h3>
<p>C'est simple comme bonjour:</p>
<pre>
$ git checkout master
$ git merge branch-to-merge
</pre>

<h3>remarques</h3>
<p>Avec Gitlab ou ses comparses, la création d'une branche s'effectue sur le site, ainsi que le merg. J'ai l'impression qu'il est préférable d'effectuer ces opérations avec leurs interfaces Web.</p>

<footer> crée le 21/10/2015 à 23:46:44 par bernard </footer>
