<h2>amélioration du style</h2>
<p>Je dois d'abord trouver une image de fond pour l'entête. Ensuite,
   je dois utiliser les jeux de police de manière plus fine pour
   le gras, l'italique, ...</p>
<h3>les polices</h3>
<p>En plus de la version <em>condensée</em> de <em><strong>Gillius</strong></em>,
	je modifie le <code>letter-spacing</code> pour les titres, ce qui améliore 
	le rendu visuel à mon avis. J'en fais de même pour la balise 
	   <code>code</code>. Il semble que ma version d'Opéra y soit totalement 
	    insensible!</p>
<h3>les paragraphes</h3>	    
<p>L'<em>hyphen</em> est une mauvaise idée avec <em>Stylus</em>: les propriétés 
	    qui suivent l'<em>hyphen</em> ne sont plus prises en compte!</p>   
	    

<footer> crée le 08/10/2015 à 18:11:30 par bernard </footer>