<h2>la gestion des entrées du blog et du menu</h2>

<h3>gestion des pages du blog</h3>
<p>Pour l'instant, les pages sont posées en vrac dans un seul répertoire.
   Ce n'est pas bon. Il faudrait un répertoire par année qui contiendrait 
   un répertoire par mois qui contiendrait tous les posts du mois.
   </p>

<h3>affichage du menu</h3>   
<p>L'affichage du menu est <strong>laid</strong>! Il faut traiter le nom
   du fichier ou récupérer le titre du post, ce qui signifie qu'il faut lire
   tous les fichiers que l'on affiche au menu.</p>
<p>Si l'on reprend l'idée de la gestion du blog comme ci-dessus, il faut
   que le menu reflète cette organisation comme le font la plupart des 
   blogs.
   </p>
   

<footer> crée le 10/10/2015 à 02:05:57 par bernard </footer>
