<h2>remarques sur les variables dans NodeJS</h2>

<p>On en apprend de belles sur cette page : <a href="http://www.hacksparrow.com/global-variables-in-node-js.html">Global Variables in Node.js</a>! L'objet `global` (ou `GLOBAL`) permet de cnoserver des variables _globales_! Sont elles accessibles depuis les _callbacks_ des fonctions asynchrones?
</p>

<p>Tentons ce code:</p>
<pre>
/**
 * main.js
 */

var loadfile = require('./loadfile');
global content = 'y a rien';
global done = false;

function doit(filename) {
	console.log('content: [' + global.content + ']');
	loadfile.loadfile(filename);
	while (!global.done) {
		console.log("wait...\n");
	}
	console.log('content: [' + global.content + ']');
}

main('main.js');
</pre>
<p>avec ce module:</p>
<pre>
/**
 * loadfile.js
 */
var fs = require('fs');

module.exports = function() {
	return {
		loadfile: function(filename) {
			fs.readFile(filename, function(err, data) {
				if (err) {
					global.content = 'Cannot read ' + filename;
				} else {
					globale.contente = data;
				}
				global.done = true;
			});
		}
	};
}
</pre>

<footer> crée le 12/10/2015 à 22:03:41 par bernard </footer>
