<h2>réfléchir au design...</h2>
<p>Un exercice de style auquel je ne suis pas habitué... En tout cas,
   pas au sens que peut lui donner un designer professionnel. Lorsque je 
   ferme les yeux, je vois de manière trop peu précise ce que doit
   donner l'ensemble. Une chose est sûre, le design actuel me 
   déplaît! Une autre certitude, je veux garder la police
   <em>Gillius</em> pour l'ensemble du texte. Il me faut en
   trouver une autre pour l'en-tête et, éventuellement, une 
   troisième pour les titres.
   </p>
   
<h3>des idées...</h3>
<p>J'ai trouvé un site vraiment bien pour avoir des idées de design, 
   <a href="http://www.siteinspire.com">siteInspire</a>! La première action est 
   de trouver une photo dont je suis l'auteur que j'utiliserais en support
   de première page. Comme celle-ci :
   </p>
   <img src="/le-n-site/images/genie-civil-detail-light.jpg" width="560px" />

<footer> crée le 09/10/2015 à 21:36:52 par bernard </footer>
