<h2>amélioration du code</h2>
<h3>Express, une meilleure utilisation</h3>
<p>La première chose à faire, appliquer le plus rapidement possible ce que 
   j'ai appris en lisant la documentation de
   l'<a href="http://expressjs.com/4x/api.html">API d'Express</a>. En
   particulier, avec les <code>router.METHOD()</code>, on peut 
   utiliser la notation suivante pour le paramètre <em><code>PATH</code></em>,
   <code>'/path/to/:name'</code> que l'on va utiliser ainsi :
   </p>
<pre>
router.get('<em>/blog/:page</em>', function(req, res, next) {
	<strong>var</strong> name = blog.getBlogDir() + req.params.page + '<em>.html</em>';
	...
	next();
});
</pre>   
<p>Lors d'un appel à <code>GET /blog/firstpage</code>, 
   <code>req.params.page</code> contiendra <em><code>firstpage</code></em>.
   Et c'est vraiment pratique!
   </p>
   
<h3>NodeJS, améliorer l'utilisation</h3>
<p>On peut commencer tout simplement à utiliser les fonctions asynchrones
   de lecture de fichiers ou de manipulation de répertoires.</p>
<p>Ce changement n'est pas trop difficile à faire. Par contre, j'ai imbriqué 
   deux appels asynchrones ce qui n'est pas forcément du meilleur effet.</p>
<p>J'ai profité de l'occasion pour utiliser <code>let</code> en plusieurs 
   occasions (<em>cf.</em> <a href="https://nodejs.org/en/docs/es6/">
   	ES6 in Node.js
   </a>). La portée des variables définies avec <code>let</code> correspond 
   mieux à mes habitudes. Ne pas oublier le</p>
<pre>
"use strict";
</pre>
 
<h3>des constantes!</h3>
<p>Il est important de créer des constantes ou des variables de configuration là
   où c'est important. Par exemple, le suffixe du site! Ce cas est délicat, les
   liens sur les images, par exemple, placés dans le texte des posts devraient
   en profiter, ce qui n'est pas forcément évident du premier coup.
   </p>

<h3>les routes</h3>
<p>Dans cette première version, j'ai fait un boulot de salopiot qu'il faut
   réparer!</p>

<footer> crée le 09/10/2015 à 23:29:02 par bernard </footer>
