<h2>installation</h2>

<h3><code>node</code> et <code>npm</code></h3>
<p>L'installation de ces deux outils est indispensables, de préférences pour tous les utilisateurs. J'utilise actuellement la version 4.1.1 de <code>node</code> et la version 3.3.5 de <code>npm</code>.</p>
