<h2>introduction</h2>
<h3>la <em>philosophie</em> de ce mini-CMS</h3>
<p>Je veux pouvoir éditer toutes les pages avec l'éditeur de mon choix (<em>Vim</em>) ou les éditer à travers une interface Web adaptée. Les pages, qui ne sont que de simples fichiers textes, sont sauvegardées avec <em>Git</em>.</p>
<p>Dit d'une autre manière, la base de données, c'est tout simplement le système de fichiers sous-jacent, de préférence un Unix.</p>
<p>On peut trouver ce choix curieux, mais c'est mon choix!</p>

<h3>pourquoi <em>NodeJS</em>?</h3>
<p>Une saine curiosité m'a poussée à regarder de plus près ce <em>NodeJS</em>, ainsi que l'affection que je porte à <em>JavaScript</em>, même si, parfois, il me fait râler. Rapidement, j'obtiens ce que je veux, avec peu de lignes de code, le rêve!</p>
